@import url('https://fonts.googleapis.com/css?family=Cuprum:700|Merriweather');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Cuprum', sans-serif;
}
.justify-align {
    text-align: justify;
}
.weight-700 {
    font-weight: 700;
}
p {
    font-size: 21px;
}
/*MENU*/

header img {
  width: 56px;
}
nav {
  background: purple;
}
.active {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
/*BANNER*/
#banner {
  margin: 0;
  background-image: url(../img/miriam_mendoza_pilco.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#banner .card {
  width: 90%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.55);
  padding: 14px;
}
/*CONTACTO */
#contacto {
  height: 100vh;
}
#contacto p {
    margin-bottom: 21px;
}
#write-here {
    display: flex;
    justify-content: space-around;
}

#write-here * {
    border-radius: 14px;
}
#contacto [class*="s6"] img {
    height: 140px;
    margin-bottom: 14px;
}
#write-here {
    margin-bottom: 21px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  p {
      font-size: 28px;
  }
    #write-here {
        margin-bottom: 28px;
    }
    /*BANNER*/

    /*CONTACTO*/
    #contacto [class*="s6"] img {
        height: 182px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 8rem;
  }
  p {
    font-size: 35px;
  }
  /*MENU*/
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  nav img {
    margin-left: 21px;
  }
  /*BANNER*/
  #banner {
    background-position-y: 100%;
    align-items: initial;
    left: 21px;
  }
  #banner .card {
    width: 60%;
    padding: 21px;
    left: 21px;
  }
  /*CONTACTO*/
  #contacto {
    margin-top: 42px;
  }
  #contacto [class*="s6"] img {
      height: 140px;
      border: 4px solid #000;
      padding: 14px;
      border-radius: 21px;
      margin-bottom: 28px;
  }
}
